
name: Sync Assets Metadata
on:
  workflow_dispatch:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Run core_sync.py
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          GEMINI_API: ${{ secrets.GEMINI_API_KEY }}
        run: python core_sync.py
